pysam==0.15.0
tqdm==4.7.2
certifi==2018.8.24
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.15.1
pandas==0.23.4
pip==18.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
readline==6.2.4.1
scipy==1.1.0
setuptools==40.2.0
six==1.11.0
tornado==5.1
wheel==0.31.1
appdirs==1.4.3
atropos==1.1.16
attrs==18.1.0
biokit==0.4.2
bioservices==1.5.1
cbemd==1.0
chardet==3.0.4
colorlog==3.1.2
colormap==1.0.1
colormath==3.0.0
configargparse==0.13.0
datrie==0.7.1
decorator==4.2.1
docopt==0.6.2
docutils==0.14
easydev==0.9.36
future==0.16.0
grequests==0.3.0
idna==2.7
jsonschema==2.6.0
lzstring==1.0.3
mock==2.0.0
multiqc==1.0
pbr==3.1.1
python-utils==2.2.0
pyvcf==0.6.8
pyyaml==5.4
ratelimiter==1.2.0.post0
requests==2.19.1
requests-cache==0.4.13
ruamel.yaml==0.15.0
simplejson==3.13.2
spectra==0.0.11
suds-jurko==0.6
svgwrite==1.1.11
urllib3>=1.24.2
wrapt==1.10.11
xmltodict==0.11.0
