htslib==1.9
libdeflate==1.0
pysam==0.15.0.1
tqdm==4.7.2
blas==1.1
bzip2==1.0.6
ca-certificates==2018.8.24
certifi==2018.8.24
curl==7.61.0
cycler==0.10.0
dbus==1.13.0
expat==2.2.5
fontconfig==2.12.6
freetype==2.8.1
gettext==0.19.8.1
glib==2.55.0
gst-plugins-base==1.12.5
gstreamer==1.12.5
icu==58.2
jpeg==9c
kiwisolver==1.0.1
krb5==1.14.6
libffi==3.2.1
libgcc-ng==7.2.0
libgfortran==3.0.0
libiconv==1.15
libpng==1.6.34
libssh2==1.8.0
libstdcxx-ng==7.2.0
libxcb==1.13
libxml2==2.9.8
matplotlib==2.2.2
ncurses==5.9
numpy==1.15.1
openblas==0.2.20
openssl==1.0.2p
pandas==0.23.4
pcre==8.41
pip==18.0
pthread-stubs==0.4
pyparsing==2.2.0
pyqt==5.6.0
python==3.6.3
python-dateutil==2.7.3
pytz==2018.5
qt==5.6.2
readline==7.0
scipy==1.1.0
setuptools==40.2.0
sip==4.18.1
six==1.11.0
sqlite==3.20.1
tk==8.6.8
tornado==5.1
wheel==0.31.1
xorg-libxau==1.0.8
xorg-libxdmcp==1.1.2
xz==5.2.4
zlib==1.2.11
appdirs==1.4.3
atropos==1.1.16
attrs==18.1.0
biokit==0.4.2
bioservices==1.5.1
cbemd==1.0
chardet==3.0.4
colorlog==3.1.2
colormap==1.0.1
colormath==3.0.0
configargparse==0.13.0
datrie==0.7.1
decorator==4.2.1
docopt==0.6.2
docutils==0.14
easydev==0.9.36
future==0.16.0
grequests==0.3.0
idna==2.7
jsonschema==2.6.0
lzstring==1.0.3
mock==2.0.0
multiqc==1.0
pbr==3.1.1
python-utils==2.2.0
pyvcf==0.6.8
pyyaml==3.13
ratelimiter==1.2.0.post0
requests==2.19.1
requests-cache==0.4.13
ruamel.yaml==0.15.0
simplejson==3.13.2
spectra==0.0.11
suds-jurko==0.6
svgwrite==1.1.11
urllib3==1.23
wrapt==1.10.11
xmltodict==0.11.0
